@font-face {
  font-family: 'Astrian System', sans-serif;
  src: url(sf-atarian-system.regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Astrian System', sans-serif;
  src: url(sf-atarian-system.bold.ttf) format('truetype');
  font-weight: bold;
}

body {
  background-color: #eee;
  text-align: center;
  margin: 0.8rem;
}

main {
  width: 600px;
  height: calc(100vh - 6rem);
  background-color: white;
  display: inline-block;
  text-align: left;
  border-color: #777;
  border-width: 3px;
  border-style: solid;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.6);
  font-family: 'Astrian System';
  font-size: 1.5rem;
}

#dashboard {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.segment {
  width: calc(100% - 5rem);
  padding: 0 3rem;
  overflow-y: scroll;
  flex: 1 0;
}

#tabs {
  flex: 0 1;
  padding: 5px 0;
}

button {
  background-color: #fed;
  cursor: pointer;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  font-family: 'Astrian System';
  font-size: 1.5rem;
}

button:hover {
  background-color: #edc;
}

button:active {
  background-color: #fca;
}

button:focus {
  background-color: #ffa;
}

.segment button {
  padding: 1rem;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

#quest-log {
  overflow-y: scroll;
  height: 80vh;
}

.battle-log {
  border: 1px #600 solid;
  margin: 1rem 0;
}

#quest-bar {
  border-bottom: #444 1px solid;
}

#quest-log .log {
  border-bottom: #444 1px solid;
}

.death {
  color: red;
  text-transform: uppercase;
}

.spacer {
  text-align: center;
  color: #888;
}

#shops-list button {
  width: 200px;
}

@media (max-width: 600px) { 
  main {
    width: calc(100% - 4rem);
  }

  .segment button {
    width: 100%;
  }

  .segment {
    padding: 1rem;
    width: 100%;
  }
}
